<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
		{{ partial "js.html" . }}
    </head>
    <body id="page-top">
         {{ if or .Site.Params.navigation.links.about .Site.Params.navigation.links.products .Site.Params.navigation.links.services .Site.Params.navigation.links.portfolio .Site.Params.navigation.links.contact }}
            {{ partial "navpage.html" . }}
        {{ end }}
		
		
		

        {{ template "_internal/google_analytics.html" . }}
		
		<div class="post" style="padding-top:50px;">
		  <h1>{{ .Title }}</h1>
		  <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
		 <div class ="blog" > <h3>{{ .Content }}</h3> </div>
		</div>
        {{ template "_internal/google_analytics.html" . }}
    </body>
</html>