<section class="no-padding" id="products">
    <div class="container-fluid">
		<div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.products.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.products.headline .Site.Params.products.description }}
                    <hr class="primary">
                {{ end }}
                {{ with .Site.Params.products.description }}
                    <p>{{ . | markdownify }}</p>
                {{ end }}
            </div>
        <div class="row no-gutter">
            {{ range .Site.Data.products }}
                <div class="col-lg-4 col-sm-6">
				{{ with .link }}
                    <a  href ="/post/{{.}}"/ class="portfolio-box portfolio-link" data-toggle="modal">
					{{ end }}
                        <img src="img/products/{{ .img }}" class="img-responsive" alt="" style="width: 100%;height: auto;">
                        {{ if and .category .title }}
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    {{ with .category }}
                                        <div class="project-category text-faded">
                                            {{ . }}
											
                                        </div>
                                    {{ end }}
                                   
									{{ with .title }}
                                         <div class="project-name">
											
											
										
                                            {{ . }}
											
                                    
										</div>
										
                                    {{ end }}
									
										
								
                            </div>
								
							</div>
                        {{ end }}
						
                    </a>
											<div class="lienhe">
											
											<a href="tel:01649690690" class="btn btn-default btn-lienhe ">      
											 <i class="fa fa-phone fa-3x wow bounceIn"></i>

											</a>
											<button button onclick="location.href='mailto:contacts@cellx.vn';"class="btn btn-default project-name btn-lienhe ">
											<i  class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
											</button>
											</div>	
									
							
                </div>
            {{ end }}
				
        </div>
		
    </div>
</section>
